ul {
    list-style: none;
    -webkit-padding-start: 0;
    padding-inline-start: 0
}

a {
    text-decoration: none;
    color: inherit
}

.header-logo img, img {
    width: 100%;
    height: auto
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/OpenSansSemiCondensed-Regular.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/OpenSansCondensed-Bold.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    src: url(../fonts/Montserrat-BoldItalic.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    src: url(../fonts/Montserrat-ExtraBold.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src: url(../fonts/Montserrat-Black.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/Montserrat-Medium.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    src: url(../fonts/Montserrat-MediumItalic.ttf) format("truetype");
    font-display: swap
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: .72917vw;
    font-style: normal;
    color: #fff
}

.dark {
    color: #17191a
}

.flex, .footer-payments li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.for-mobile {
    display: none
}

@media only screen and (max-width: 1024px) {
    .for-mobile {
        display: block
    }
}

main {
    height: 100vh;
    max-height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media only screen and (max-width: 1024px) {
    main {
        background-position-y: 14.97396vw
    }
}

@media only screen and (max-width: 584px) {
    main {
        min-height: 213.33333vmin
    }
}

@media (max-height: 500px) and (orientation: landscape) {
    main {
        min-height: 240vmin;
        max-height: unset
    }
}

main.bonus-one {
    min-height: 56.25vw
}

@media only screen and (max-width: 584px) {
    main.bonus-one {
        min-height: 205.33333vmin
    }
}

@media (max-height: 500px) and (orientation: landscape) {
    main.bonus-one {
        min-height: 226.66667vmin
    }
}

main.bonus {
    background: url(../images/bg-main.jpg) center/cover no-repeat
}

@media only screen and (max-width: 1024px) {
    main.bonus {
        background-image: url(../images/bg-tab.jpg)
    }
}

@media only screen and (max-width: 584px) {
    main.bonus {
        background-image: url(../images/bg-mob.jpg)
    }
}

@media (width: 1280px) and (height: 960px),(width: 1600px) and (height: 1200px) {
    main.bonus {
        background-position-x: 75%
    }
}

main {
    background: var(--bg-desk) center/cover no-repeat
}

@media only screen and (max-width: 1024px) {
    main {
        background-image: var(--bg-tab)
    }
}

@media only screen and (max-width: 584px) {
    main {
        background-image: var(--bg-mob)
    }
}

@media (width: 1280px) and (height: 960px),(width: 1600px) and (height: 1200px) {
    main {
        background-position-x: 75%
    }
}

@media (max-width: 1024px) and (min-width: 700px) and (max-height: 800px) {
    main {
        min-height: 1300px
    }
}

.header {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0 3.64583vw;
    margin-top: 1.5625vw;
    width: 100%
}

@media only screen and (max-width: 1024px) {
    .header {
        padding: 0 2.60417vw;
        margin-top: 0;
        margin-top: 3.90625vw
    }
}

@media only screen and (max-width: 584px) {
    .header {
        padding: 0 3.73333vmin
    }
}

.header-logo {
    margin-right: 32.55208vw;
    margin-top: 1.04167vw;
    width: 10.9375vw
}

@media only screen and (max-width: 1024px) {
    .header-logo {
        margin-right: auto;
        width: 17.1875vw
    }
}

@media only screen and (max-width: 584px) {
    .header-logo {
        width: 26.66667vmin
    }
}

.bonus-double .header-logo {
    margin-right: auto;
    margin-left: auto
}

.bonus-center .content-wrap .header-logo, .bonus-crypto .content-wrap .header-logo, .bonus-inner .content-wrap .header-logo {
    margin-right: 0;
    width: 8.85417vw;
    margin-bottom: 2.08333vw;
    margin-top: 0
}

@media only screen and (max-width: 1024px) {
    .bonus-center .content-wrap .header-logo, .bonus-crypto .content-wrap .header-logo, .bonus-inner .content-wrap .header-logo {
        display: none
    }
}

.bonus-one .content-wrap .header-logo {
    margin-right: 0;
    width: 9.89583vw;
    margin-bottom: 3.02083vw;
    margin-top: 0
}

@media only screen and (max-width: 1024px) {
    .bonus-one .content-wrap .header-logo {
        display: none
    }
}

.bonus-offer .content-wrap .header-logo {
    margin-right: 0;
    width: 9.89583vw;
    margin-bottom: 2.08333vw;
    margin-top: 0
}

@media only screen and (max-width: 1024px) {
    .bonus-offer .content-wrap .header-logo {
        display: none
    }
}

.header-nav__item {
    font-size: 1.04167vw;
    height: 2.91667vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 8.33333vw;
    border-radius: .41667vw;
    position: relative;
    color: #fff;
    text-transform: uppercase;

    background: linear-gradient(180deg, #F6C64A 13.64%, #F6C64A 83.33%), linear-gradient(180deg, #fffcd1 12.12%, #d95104 100%)
}

@media only screen and (max-width: 1024px) {
    .header-nav__item {
        font-size: 2.08333vw;
        height: 7.16146vw;
        width: 23.4375vw;
        border-radius: 8px
    }
}

@media only screen and (max-width: 584px) {
    .header-nav__item {
        font-size: 3.73333vmin;
        height: 10.66667vmin;
        width: 32vmin;
        border-radius: 4px
    }
}

@media only screen and (hover: hover) {
    .header-nav__item:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(13.64%, #d95104), color-stop(83.33%, #d95104)), -webkit-gradient(linear, left top, left bottom, color-stop(12.12%, #F6C64A), to(#F6C64A));
        background: linear-gradient(180deg, #d95104 13.64%, #d95104 83.33%), linear-gradient(180deg, #F6C64A 12.12%, #F6C64A 100%)
    }
}

.header-nav__item::before {
    content: '';
    border-radius: .41667vw;
    position: absolute;
    inset: 0;
    padding: 1px;
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    background: -webkit-gradient(linear, left top, left bottom, from(#fffcd1), to(#d95104)) 0 0/auto padding-box border-box;
    background: linear-gradient(#fffcd1, #d95104) 0 0/auto padding-box border-box;
    background-clip: 'border-box';
    pointer-events: none
}

@media only screen and (max-width: 1024px) {
    .header-nav__item::before {
        border-radius: 8px
    }
}

@media only screen and (max-width: 584px) {
    .header-nav__item::before {
        border-radius: 4px
    }
}

.content {
    position: relative;
    z-index: 1
}

@media only screen and (max-width: 1024px) {
    .content {
        margin-top: auto
    }
}

.bonus-double .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: calc(var(--vh) * 8.5)
}

@media only screen and (max-width: 1024px) {
    .bonus-double .content {
        margin-bottom: 5.20833vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-double .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.content-wrap {
    margin-left: 4.6875vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    margin-right: auto;
    width: 35.98958vw;
    position: relative;
    border-radius: 1.19792vw;
    padding: 4.6875vw 3.90625vw;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(35, 37, 38, .5)), to(rgba(35, 37, 38, .5)));
    background: linear-gradient(0deg, rgba(35, 37, 38, .5), rgba(35, 37, 38, .5));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px)
}

@media only screen and (max-width: 1024px) {
    .content-wrap {
        border-radius: 23px;
        margin-left: auto;
        padding: 4.16667vw 5.20833vw;
        margin-right: auto;
        margin-bottom: 0;
        width: 70.70312vw
    }
}

@media only screen and (max-width: 584px) {
    .content-wrap {
        border-radius: 15px;
        width: 92.53333vmin;
        padding: 6.4vmin 4vmin
    }
}

.content-wrap::before {
    content: '';
    border-radius: 1.19792vw;
    position: absolute;
    inset: 0;
    pointer-events: none;
    padding: 1px;
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F6C64A)) 0 0/auto padding-box border-box;
    background: linear-gradient(#fff, #F6C64A) 0 0/auto padding-box border-box;
    background-clip: 'border-box'
}

@media only screen and (max-width: 1024px) {
    .content-wrap::before {
        border-radius: 23px
    }
}

@media only screen and (max-width: 584px) {
    .content-wrap::before {
        border-radius: 15px
    }
}

.bonus-double .content-wrap::before, .bonus-offer .content-wrap::before, .bonus-one .content-wrap::before {
    content: none
}

.bonus-center .content-wrap, .bonus-crypto .content-wrap, .bonus-inner .content-wrap {
    padding: 2.60417vw 0 3.54167vw
}

@media only screen and (max-width: 1024px) {
    .bonus-center .content-wrap, .bonus-crypto .content-wrap, .bonus-inner .content-wrap {
        padding: 4.16667vw 5.20833vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-center .content-wrap, .bonus-crypto .content-wrap, .bonus-inner .content-wrap {
        padding: 6.4vmin 4vmin
    }
}

.bonus-double .content-wrap {
    margin: 0;
    padding: 0;
    -webkit-backdrop-filter: unset;
    backdrop-filter: unset;
    background: 0 0;
    width: unset
}

.bonus-double .content-wrap:first-child {
    margin-left: 11.97917vw
}

@media only screen and (max-width: 1024px) {
    .bonus-double .content-wrap:first-child {
        margin-left: 3.125vw;
        margin-bottom: 8.53333vmin
    }
}

@media only screen and (max-width: 584px) {
    .bonus-double .content-wrap:first-child {
        margin-left: 0
    }
}

.bonus-double .content-wrap:last-child {
    margin-right: 11.97917vw
}

@media only screen and (max-width: 1024px) {
    .bonus-double .content-wrap:last-child {
        margin-right: 3.125vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-double .content-wrap:last-child {
        margin-right: 0
    }
}

.bonus-one .content-wrap {
    background: 0 0;
    -webkit-backdrop-filter: unset;
    backdrop-filter: unset;
    padding: 0
}

@media only screen and (max-width: 1024px) {
    .bonus-one .content-wrap {
        padding: 4.16667vw 5.20833vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-one .content-wrap {
        padding: 6.4vmin 4vmin
    }
}

.bonus-offer .content-wrap {
    background: 0 0;
    -webkit-backdrop-filter: unset;
    backdrop-filter: unset;
    padding: 0
}

@media only screen and (max-width: 1024px) {
    .bonus-offer .content-wrap {
        padding: 4.16667vw 5.20833vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-offer .content-wrap {
        padding: 6.4vmin 4vmin
    }
}

.bonus-center .content-wrap {
    margin-left: auto
}

.bonus-crypto .content-wrap::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 13.85417vw;
    height: 9.84375vw;
    background: url(../images/bonus.png) center/contain no-repeat
}

@media only screen and (max-width: 1024px) {
    .bonus-crypto .content-wrap::after {
        content: none
    }
}

.content-title {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media only screen and (max-width: 1024px) {
    .content-title {
        margin-top: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        white-space: nowrap
    }
}

@media only screen and (max-width: 584px) {
    .content-title {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.bonus-double .content-title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.content-title b {
    color: #F6C64A;
    font-size: 7.29167vw;
    font-style: normal;
    font-weight: 800;
    line-height: 5.625vw;
    letter-spacing: .11458vw
}

@media only screen and (max-width: 1024px) {
    .content-title b {
        font-size: 6.25vw;
        line-height: 6.90104vw;
        letter-spacing: .19271vw
    }
}

@media only screen and (max-width: 584px) {
    .content-title b {
        font-size: 13.33333vmin;
        line-height: 14.66667vmin;
        letter-spacing: .224vmin
    }
}

.bonus-one .content-title b {
    font-size: 8.85417vw;
    line-height: 8.85417vw;
    background: linear-gradient(180.58deg, #F6C64A 14%, #F6C64A 104.1%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

@media only screen and (max-width: 1024px) {
    .bonus-one .content-title b {
        font-size: 8.33333vw;
        line-height: 9.11458vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-one .content-title b {
        font-size: 17.06667vmin;
        line-height: 18.66667vmin
    }
}

.bonus-offer .content-title b {
    font-size: 8.85417vw;
    line-height: 8.85417vw;
    background: linear-gradient(180.58deg, #F6C64A 14%, #F6C64A 104.1%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

@media only screen and (max-width: 1024px) {
    .bonus-offer .content-title b {
        font-size: 8.33333vw;
        line-height: 9.11458vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-offer .content-title b {
        font-size: 17.06667vmin;
        line-height: 18.66667vmin
    }
}

.bonus-double .content-title b {
    color: #fff;
    font-size: 6.35417vw;
    line-height: 1
}

@media only screen and (max-width: 1024px) {
    .bonus-double .content-title b {
        font-size: 8.85417vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-double .content-title b {
        font-size: 18.13333vmin
    }
}

.content-title span {
    font-size: 2.75vw;
    font-weight: 800;
    line-height: 4.5vw;
    letter-spacing: .04167vw
}

@media only screen and (max-width: 1024px) {
    .content-title span {
        font-size: 6.25vw;
        line-height: 6.90104vw;
        letter-spacing: .0625vw;
        margin-left: 1.5625vw
    }
}

@media only screen and (max-width: 584px) {
    .content-title span {
        /* font-size: 8.53333vmin; */
        line-height: 9.33333vmin;
        letter-spacing: .096vmin;
        margin-left: 0
    }
}

@media only screen and (max-width: 1024px) {
    .bonus-one .content-title span {
        font-size: 8.33333vw;
        line-height: 9.11458vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-one .content-title span {
        font-size: 10.13333vmin;
        line-height: 10.93333vmin
    }
}

@media only screen and (max-width: 1024px) {
    .bonus-offer .content-title span {
        font-size: 8.33333vw;
        line-height: 9.11458vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-offer .content-title span {
        font-size: 10.13333vmin;
        line-height: 10.93333vmin
    }
}

.bonus-double .content-title span {
    text-align: left;
    background: linear-gradient(180.58deg, #F6C64A 14%, #F6C64A 104.1%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.91667vw;
    line-height: 2.70833vw;
    margin-left: 1.25vw
}

@media only screen and (max-width: 1024px) {
    .bonus-double .content-title span {
        font-size: 4.16667vw;
        line-height: 3.90625vw;
        margin-left: 2.34375vw;
        white-space: wrap
    }
}

@media only screen and (max-width: 584px) {
    .bonus-double .content-title span {
        font-size: 8.53333vmin;
        line-height: 8vmin;
        margin-left: 4.8vmin
    }
}

.content h2 {
    font-weight: 500;
    font-size: 1.45833vw;
    line-height: 1.77083vw;
    margin-top: 1.45833vw
}

@media only screen and (max-width: 1024px) {
    .content h2 {
        font-size: 3.125vw;
        line-height: 3.77604vw;
        margin-top: 1.5625vw
    }
}

@media only screen and (max-width: 584px) {
    .content h2 {
        font-size: 4.8vmin;
        line-height: 5.86667vmin;
        margin-top: 2.13333vmin
    }
}

.bonus-double .content h2 {
    margin-top: .41667vw;
    font-weight: 700
}

@media only screen and (max-width: 1024px) {
    .bonus-double .content h2 {
        font-size: 2.08333vw;
        line-height: 3.90625vw;
        margin-top: 1.04167vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-double .content h2 {
        font-size: 4.26667vmin;
        line-height: 8vmin;
        margin-top: 2.13333vmin
    }
}

.bonus-inner .content h2, .bonus-one .content h2 {
    font-style: italic;
    font-weight: 500;
    margin-top: .9375vw
}

.bonus-inner .content h2 b, .bonus-one .content h2 b {
    color: #F6C64A
}

.bonus-offer .content h2 {
    font-style: italic;
    font-weight: 500
}

.content-code {
    margin-top: 3.22917vw;
    border-radius: 20px;
    background: #fff;
    width: 100%;
    height: 5.20833vw;
    letter-spacing: .03125vw;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 28.17708vw;
    position: relative;
    color: #1d1f20
}

@media only screen and (max-width: 1024px) {
    .content-code {
        border-radius: 20px;
        margin-top: 4.16667vw;
        height: 8.59375vw;
        letter-spacing: 0;
        width: 48.4375vw
    }
}

@media only screen and (max-width: 584px) {
    .content-code {
        border-radius: 12px;
        margin-top: 5.33333vmin;
        height: 16vmin;
        width: 84.53333vmin
    }
}

.bonus-double .content-code {
    margin-top: 1.45833vw
}

@media only screen and (max-width: 1024px) {
    .bonus-double .content-code {
        margin-top: 1.5625vw;
        width: 40.36458vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-double .content-code {
        margin-top: 3.2vmin;
        width: 82.66667vmin
    }
}

.bonus-one .content-code {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: 0 0;
    height: unset;
    width: 28.17708vw
}

@media only screen and (max-width: 1024px) {
    .bonus-one .content-code {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: unset
    }
}

@media only screen and (max-width: 584px) {
    .bonus-one .content-code {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.content-code::before {
    content: '';
    border-radius: 1.04167vw;
    position: absolute;
    inset: 0;
    pointer-events: none;
    padding: 2px;
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    background: -webkit-gradient(linear, left top, left bottom, from(#fffcd1), to(#d95104)) 0 0/auto padding-box border-box;
    background: linear-gradient(#fffcd1, #d95104) 0 0/auto padding-box border-box;
    background-clip: 'border-box'
}

@media only screen and (max-width: 1024px) {
    .content-code::before {
        border-radius: 20px
    }
}

@media only screen and (max-width: 584px) {
    .content-code::before {
        border-radius: 12px
    }
}

.bonus-one .bonus-one .content-code__bonus::before, .bonus-one .bonus-one .content-code__link::before, .bonus-one .content-code::before {
    content: none
}

.content-code__bonus {
    font-size: 1.45833vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 16.04167vw;
    cursor: pointer
}

@media only screen and (max-width: 1024px) {
    .content-code__bonus {
        font-weight: 600;
        font-size: 2.60417vw;
        width: 26.5625vw
    }
}

@media only screen and (max-width: 584px) {
    .content-code__bonus {
        font-size: 4.8vmin;
        width: 45.33333vmin
    }
}

.bonus-one .content-code__bonus {
    width: 28.17708vw;
    height: 4.42708vw;
    background-color: #fff;
    position: relative;
    border-radius: 1.04167vw;
    margin-bottom: 1.45833vw
}

@media only screen and (max-width: 1024px) {
    .bonus-one .content-code__bonus {
        height: 9.11458vw;
        border-radius: 20px;
        margin-bottom: 0;
        margin-right: 2.08333vw;
        width: 36.45833vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-one .content-code__bonus {
        height: 16vmin;
        margin-bottom: 2.13333vmin;
        margin-right: 0;
        border-radius: 12px;
        width: 84.53333vmin
    }
}

.bonus-one .content-code__bonus p, .bonus-one .content-code__bonus span {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.bonus-one .content-code__bonus p {
    top: .83333vw;
    font-size: .9375vw;
    font-weight: 500
}

@media only screen and (max-width: 1024px) {
    .bonus-one .content-code__bonus p {
        top: 1.82292vw;
        font-size: 1.5625vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-one .content-code__bonus p {
        top: 2.93333vmin;
        font-size: 3.2vmin
    }
}

.bonus-one .content-code__bonus span {
    bottom: .78125vw
}

@media only screen and (max-width: 1024px) {
    .bonus-one .content-code__bonus span {
        bottom: 1.82292vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-one .content-code__bonus span {
        bottom: 2.66667vmin
    }
}

.bonus-one .content-code__bonus::before {
    content: '';
    border-radius: 1.04167vw;
    position: absolute;
    inset: 0;
    pointer-events: none;
    padding: 2px;
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    background: -webkit-gradient(linear, left top, left bottom, from(#fffcd1), to(#d95104)) 0 0/auto padding-box border-box;
    background: linear-gradient(#fffcd1, #d95104) 0 0/auto padding-box border-box;
    background-clip: 'border-box'
}

@media only screen and (max-width: 1024px) {
    .bonus-one .content-code__bonus::before {
        border-radius: 20px
    }
}

@media only screen and (max-width: 584px) {
    .bonus-one .content-code__bonus::before {
        border-radius: 12px
    }
}

@media only screen and (max-width: 1024px) {
    .bonus-double .content-code__bonus {
        font-size: 2.08333vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-double .content-code__bonus {
        font-size: 4.26667vmin
    }
}

.content-code__link {
    font-size: 1.5625vw;
    border-radius: 20px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(13.64%, #F6C64A), color-stop(83.33%, #F6C64A));
    background: linear-gradient(180deg, #F6C64A 13.64%, #F6C64A 83.33%);
    height: 100%;
    width: 12.96875vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff
}

@media only screen and (max-width: 1024px) {
    .content-code__link {
        border-radius: 20px;
        font-size: 2.60417vw;
        width: 23.82812vw
    }
}

@media only screen and (max-width: 584px) {
    .content-code__link {
        border-radius: 12px;
        font-size: 4.8vmin;
        width: 40vmin
    }
}

.bonus-one .content-code__link {
    width: 100%;
    height: 4.94792vw;
    position: relative;
    text-transform: uppercase;
    font-size: 1.45833vw
}

@media only screen and (max-width: 1024px) {
    .bonus-one .content-code__link {
        height: 9.11458vw;
        width: 36.45833vw;
        font-size: 2.60417vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-one .content-code__link {
        height: 16vmin;
        width: 84.53333vmin;
        font-size: 5.33333vmin
    }
}

.bonus-one .content-code__link::before {
    content: '';
    border-radius: 1.04167vw;
    position: absolute;
    inset: 0;
    pointer-events: none;
    padding: 2px;
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    background: -webkit-gradient(linear, left top, left bottom, from(#fffcd1), to(#d95104)) 0 0/auto padding-box border-box;
    background: linear-gradient(#fffcd1, #d95104) 0 0/auto padding-box border-box;
    background-clip: 'border-box'
}

@media only screen and (max-width: 1024px) {
    .bonus-one .content-code__link::before {
        border-radius: 20px
    }
}

@media only screen and (max-width: 584px) {
    .bonus-one .content-code__link::before {
        border-radius: 12px
    }
}

@media only screen and (max-width: 1024px) {
    .bonus-double .content-code__link {
        font-size: 2.08333vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-double .content-code__link {
        font-size: 4.26667vmin
    }
}

@media only screen and (hover: hover) {
    .content-code__link:hover {
        background: #F6C64A
    }
}

.footer {
    width: 100%;
    height: 5.72917vw;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #070808;
    padding: 0 4.6875vw;
    position: relative
}

@media only screen and (max-width: 1024px) {
    .footer {
        height: 26.04167vw;
        padding: 0;
        margin-top: 2.99479vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
}

@media only screen and (max-width: 584px) {
    .footer {
        height: 40vmin;
        margin-top: 15vmin
    }
}

@media only screen and (max-width: 1024px) {
    .bonus-double .footer {
        height: 28.64583vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-double .footer {
        height: 40vmin
    }
}

.footer::before {
    position: absolute;
    bottom: 100%;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(7, 8, 8, 0)), color-stop(33.37%, rgba(7, 8, 8, .16)), color-stop(46.19%, rgba(7, 8, 8, .69)), color-stop(62.96%, rgba(7, 8, 8, .96)), color-stop(80.31%, #070808), to(#070808));
    background: linear-gradient(180deg, rgba(7, 8, 8, 0) 0, rgba(7, 8, 8, .16) 33.37%, rgba(7, 8, 8, .69) 46.19%, rgba(7, 8, 8, .96) 62.96%, #070808 80.31%, #070808 100%);
    width: 100%;
    height: 59.50521vw;
    pointer-events: none
}

@media only screen and (max-width: 1024px) {
    .footer::before {
        content: ''
    }
}

@media only screen and (max-width: 584px) {
    .footer::before {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(7, 8, 8, 0)), color-stop(36.04%, rgba(7, 8, 8, .08)), color-stop(54.91%, rgba(7, 8, 8, .7)), color-stop(70.42%, rgba(7, 8, 8, .96)), color-stop(80.31%, #070808), to(#070808));
        background: linear-gradient(180deg, rgba(7, 8, 8, 0) 0, rgba(7, 8, 8, .08) 36.04%, rgba(7, 8, 8, .7) 54.91%, rgba(7, 8, 8, .96) 70.42%, #070808 80.31%, #070808 100%);
        height: 112vmin
    }
}

@media only screen and (max-width: 1024px) {
    .footer-terms {
        margin-bottom: 2.60417vw
    }
}

@media only screen and (max-width: 584px) {
    .bonus-one .footer-terms {
        margin-bottom: 4.8vmin
    }
}

.footer-terms p {
    line-height: 1.25vw;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400
}

@media only screen and (max-width: 1024px) {
    .footer-terms p {
        line-height: 3.125vw
    }
}

@media only screen and (max-width: 584px) {
    .footer-terms p {
        line-height: 5.86667vmin
    }
}

.bonus-double .footer-terms p, .footer-payments {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.bonus-double .footer-terms p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media only screen and (max-width: 1024px) {
    .bonus-double .footer-terms p {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.footer-terms p b {
    font-weight: 700;
    font-size: .83333vw;
    margin-right: 1.25vw;
    text-decoration: underline
}

@media only screen and (max-width: 1024px) {
    .footer-terms p b {
        font-size: 2.08333vw;
        margin-bottom: 1.04167vw;
        margin-right: 0;
        display: block;
        text-align: center
    }
}

@media only screen and (max-width: 584px) {
    .footer-terms p b {
        font-size: 4.26667vmin;
        margin-bottom: 2.13333vmin
    }
}

.footer-terms p span {
    font-size: .72917vw;
    color: rgba(255, 255, 255, .7)
}

@media only screen and (max-width: 1024px) {
    .footer-terms p span {
        font-size: 1.82292vw
    }
}

@media only screen and (max-width: 584px) {
    .footer-terms p span {
        font-size: 3.2vmin;
        line-height: 4.26667vmin;
        display: block;
        text-align: center;
        margin: 0 auto
    }
}

.bonus-double .footer-terms p span {
    display: block
}

@media only screen and (max-width: 1024px) {
    .bonus-double .footer-terms p span {
        text-align: center
    }
}

.footer-payments {
    list-style: none
}

@media only screen and (max-width: 1024px) {
    .footer-payments {
        width: 67.96875vw;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 0 1.30208vw;
        margin-bottom: 3.64583vw
    }
}

@media only screen and (max-width: 584px) {
    .footer-payments {
        width: 85.33333vmin;
        gap: 0 1.6vmin;
        margin-bottom: 4.53333vmin
    }
}

.footer-payments li:not(:first-child) {
    margin-left: .52083vw
}

@media only screen and (max-width: 1024px) {
    .footer-payments li:not(:first-child) {
        margin-left: 0
    }
}

.footer-payments img {
    width: auto;
    height: 2.5vw
}

@media only screen and (max-width: 1024px) {
    .footer-payments img {
        height: 6.25vw
    }
}

@media only screen and (max-width: 584px) {
    .footer-payments img, .footer-payments img[alt=flexepin], .footer-payments img[alt=neosurf], .footer-payments img[alt=ssl] {
        height: 8vmin
    }
}

@media only screen and (max-width: 1024px) {
    .footer-payments li.ripple {
        display: none
    }
}

.footer-payments li.ripple-mob {
    display: none
}

@media only screen and (max-width: 1024px) {
    .footer-payments li.ripple-mob {
        display: block
    }
}
